name: "Destroy Infraestructura Base"

on:
  workflow_dispatch:

jobs:
  terraform-destroy:
    name: "Terraform Destroy"
    runs-on: ubuntu-latest
    environment: AWS 

    defaults:
      run:
        working-directory: infra 

    env:
      TF_VAR_region: "us-east-1"
      TF_IN_AUTOMATION: true
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: us-east-1
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Inicializar Terraform
        run: terraform init

      - name: Validar sintaxis
        run: terraform validate

      - name: Plan de destrucción
        run: terraform plan -destroy -out=tfplan

      - name: Ejecutar destrucción
        run: terraform apply -auto-approve tfplan
